.container {
    text-align: center;
}
h1 {
    color: rgb(200, 200, 200);
}
.count {
    font-size: 1.6em;
    color: rgb(200, 200, 200);
}
.input {
    padding: 4px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
} 
.button {
    padding: 4px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    background-color: #3eaf7c;
    color: #ffffff;
} 