<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="container">
        <h1>{{ header }}</h1>
        <hr>
        <p>We already have <span class="count">{{ count }}</span> users. Enter your name and email to join them.</p>
        <form action="/users" method="POST">
            <input class="input" type="text" name="first_name" placeholder="First name">
            <input class="input" type="text" name="last_name" placeholder="Last name">
            <input class="input" type="email" name="email" placeholder="Enter email">
            <button class="button" type="submit">JOIN</button>
        </form>
    </div>
</body>
<html>